<form method="post" enctype="multipart/form-data" asp-action="GetHierarchy">
    <div class="form-group">
        <label for="file-name">Choose file name:</label>
        <input type="text" name="fileName" id="file-name" required>
    </div>
    <button type="submit">Get</button>
</form>